<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/authorupdate/{{edit.id}}" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="" value="{{edit.name}}"><br><br>
        <input type="email" name="email" id="" value="{{edit.email}}"><br><br>
        <input type="number" name="phone" id="" value="{{edit.phone}}"><br><br>
        <input type="submit" value="update">
    </form>
    
</body>
</html>