<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>author name</th>
            <th>book name</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {% for i in view %}
        <tr>
            <td>{{i.author_id.name}}</td>
            <td>{{i.book name}}</td>
            <td><a href="delete_book/{{i.id}}"></a>delete</td>
            <td><a href="edit_book/{{i.id}}"></a>edit</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>