<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/book_update/{{edit.id}}" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="" value="{{edit.author_id.name}}" readonly>
         <input type="text" name="book name" id="" value="{{edit.book name}}">
          <input type="submit"  value="update">
    </form>
</body>
</html>