<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="monday" method="post">
        {% csrf_token %}
     <input type="text" name="name"><br><br>
    <input type="radio" name="gender" id="female" value="female">fEMALE<br><br>
     <input type="radio" name="gender" id="male" value="male">mALE<br><br>
     <input type="radio" name="gender" id="others" value="others">OTHER<br><br>
     <input type="submit" value="save">


    </form>
</body>
</html>