<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table >
    <tr>
        <th>ids</th>
        <th>gender</th>
        <th>edit</th>
    </tr>
    {% for i in view %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.get_gender_display}}</td>
        <td><a href="workedits/{{i.id}}">edit</a></td>
        <td><a href="workdelete/{{i.id}}">delete</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>