<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/workupdate/{{edit.id}}">
        {% csrf_token %}
        <input type="text" name="name" id="ids" value="{{edit.name}}">name <br><br>
        <input type="radio" name="gender" id="female" value="female"

        {% if edit.gender == 'female'%} checked {% endif %}>female <br><br>
        <input type="radio" name="gender" id="male" value="male"
        {% if edit.gender == 'male'%} checked {% endif %}>male <br><br>
        <input type="radio" name="gender" id="others" value="others"
        {% if edit.gender == 'others'%}checked{% endif %}>others <br><br>

        <input type="submit" value="update">
    </form>
</body>
</html>